<head>
    <title>Triangle Fraternity</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

</head>
<main>
    <body>
        <!-- Navbar -->
        <div class="navbar-fixed">
            <nav>
              <div class="nav-wrapper">
                  <a href="#" class="brand-logo">Triangle Fraternity</a>
                  <ul id="nav-mobile" class="right table-of-contents hide-on-med-and-down">
                      <li><a href="#about">About</a></li>
                      <li><a href="#members">Members</a></li>
                      <li><a href="#events">Events</a></li>
                      <li><a href="#projects">Projects</a></li>
                      <li><a href="#contact">Contact</a></li>
                  </ul>
                </div>
              </div>
            </nav>
        </div>

        <!-- Content -->
        <img src="http://illinoistriangle.com/img/composite.jpg" class="responsive-img"/>

        <section id="develop" class="section scrollspy container">
            <h1>Welcome to Development HomePage</h1>
            <p>Links to controllers and others</p>
            <ul>
                <li><%= link_to "Brother Directory", brothers_path %></li>
                <li><%= link_to "DJ Assignments", chores_path %></li>
            </ul>
        </section>

        <section id="about" style="background-size: cover; background-image: url('http://illinoistriangle.com/img/houseLight2.jpg')" class="section scrollspy">
            <div class="container">
                <h2 class="center-align">About Triangle</h2>

                <p>For over 100 years, Triangle Fraternity has provided an environment which fosters personal growth and professional success. Triangle is a brotherhood where undergraduates in engineering, architecture and science can develop long-lasting friendships and connections with a nationwide network of alumni.</p>
                <p>Triangle is active in both the Illinois and Greek community. With the University, we participate as Engineering Council representatives, compete in the EOH Robot Competition, and host dinners with U of I professors. In the Greek community, we host social exchanges with sororities and women's groups on campus, have brotherhood events for our membership, and spearhead philanthropy efforts all throughout the year.</p>
            </div>
        </section>

        <section id="members" class="section scrollspy container">
            <p>Members</p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </section>

        <section id="events" class="section scrollspy">
            <h2 class="center-align">Spring 2015 Rush Events</h2>
            <!-- Card Rows -->
            <div class="row">
                <div class="container">
                    <div class="col s6">
                        <div class="rush-card">
                            <div class="card medium">
                                <div class="card-image waves-effect waves-block waves-light">
                                  <img class="activator" src="http://www.henhousebbq.com/images/chicken-onion-rings.gif">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">Wings and Rings<i class="material-icons right">more_vert</i></span>
                                    <p>Come join us for brother-made hot wings and onion rings, Tuesday (1/19) @ 7pm</p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Wings and Rings<i class="material-icons right">close</i></span>
                                    <ul>
                                        <li class="card-list-item">There will be several different flavors. Last year there were 3.</li>
                                        <li class="card-list-item">Following/During the end of the event, we will be watching the Blackhawks game.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s6">
                        <div class="rush-card">
                            <div class="card medium">
                                <div class="card-image waves-effect waves-block waves-light">
                                  <img class="activator" src="https://i.ytimg.com/vi/w-llZmPPNwU/maxresdefault.jpg">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">Fruit Ninja<i class="material-icons right">more_vert</i></span>
                                    <p>Real life Fruit Ninja starts Thursday (1/21) @ 6pm</p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Fruit Ninja<i class="material-icons right">close</i></span>
                                    <ul>
                                        <li class="card-list-item">From kiwi to bananas to oranges to watermelon, Fruit Ninja was one of the most popular events of previous semesters.</li>
                                        <li class="card-list-item">We sliced and diced our way through ~$200 of fruit last year, and we are looking at a repeat this year!</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 2 -->
            <div class="row">
                <div class="container">
                    <div class="col s6">
                        <div class="rush-card">
                            <div class="card medium">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <%= image_tag 'Krannert.png', class: 'activator' %>
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">Capture the Flag<i class="material-icons right">more_vert</i></span>
                                    <p>We will be playing CTF on Krannert, weather permitting, Tuesday (1/26) @ 6pm. Expand for more info.</p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Capture the Flag<i class="material-icons right">close</i></span>
                                    <ul>
                                        <li class="card-list-item">We will be playing on Krannert, if the weather is right.</li>
                                        <li class="card-list-item">If icy, we will play broomball instead on the ice rink at the house.</li>
                                        <li class="card-list-item">Otherwise, we will head to the arc for some broomball</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s6">
                        <div class="rush-card">
                            <div class="card medium">
                                <div class="card-image waves-effect waves-block waves-light">
                                  <img src="http://www.solverde.pt/fotos/galerias/sht_61202320_1280x700_3859530034fc8a43ea74ad.jpg">
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-text text-darken-4">Casino Night</span>
                                    <p>Poker, Euchre, and Card Games in general, Thursday (1/28) @ 7pm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 3 (3 events instead of 2) -->
            <div class="row">
                <div class="col s4">
                    <div class="rush-card">
                        <div class="card medium">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img src="http://www.solverde.pt/fotos/galerias/sht_61202320_1280x700_3859530034fc8a43ea74ad.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">Casino Night</span>
                                <p>Poker, Euchre, and Card Games in general, Thursday (1/28) @ 7pm</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s4">
                    <div class="rush-card">
                        <div class="card medium">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img src="http://www.solverde.pt/fotos/galerias/sht_61202320_1280x700_3859530034fc8a43ea74ad.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">Casino Night</span>
                                <p>Poker, Euchre, and Card Games in general, Thursday (1/28) @ 7pm</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s4">
                    <div class="rush-card">
                        <div class="card medium">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img src="http://www.solverde.pt/fotos/galerias/sht_61202320_1280x700_3859530034fc8a43ea74ad.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">Casino Night</span>
                                <p>Poker, Euchre, and Card Games in general, Thursday (1/28) @ 7pm</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 4 (back to 2 events)-->
            <div class="row">
                <div class="container">
                    <div class="col s6">
                        <div class="rush-card">
                            <div class="card medium">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <%= image_tag 'Krannert.png', class: 'activator' %>
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">Capture the Flag<i class="material-icons right">more_vert</i></span>
                                    <p>We will be playing CTF on Krannert, weather permitting, Tuesday (1/26) @ 6pm. Expand for more info.</p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Capture the Flag<i class="material-icons right">close</i></span>
                                    <ul>
                                        <li class="card-list-item">We will be playing on Krannert, if the weather is right.</li>
                                        <li class="card-list-item">If icy, we will play broomball instead on the ice rink at the house.</li>
                                        <li class="card-list-item">Otherwise, we will head to the arc for some broomball</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s6">
                        <div class="rush-card">
                            <div class="card medium">
                                <div class="card-image waves-effect waves-block waves-light">
                                  <img src="http://www.solverde.pt/fotos/galerias/sht_61202320_1280x700_3859530034fc8a43ea74ad.jpg">
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-text text-darken-4">Casino Night</span>
                                    <p>Poker, Euchre, and Card Games in general, Thursday (1/28) @ 7pm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="projects" class="section scrollspy container">
            <p>Projects</p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
         </section>

        <section id="contact" class="section scrollspy container">
            <p>Contact Information</p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </section>
    </body>
</main>
<!-- Footer -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
