<head>
    <title>Triangle Fraternity</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

</head>
<main>
    <body>
        <!-- Navbar -->
        <div class="navbar-fixed">
            <nav>
              <div class="nav-wrapper">
                  <a href="#" class="brand-logo">Triangle Fraternity</a>
                  <ul id="nav-mobile" class="right table-of-contents hide-on-med-and-down">
                      <li><a href="#members">Members</a></li>
                      <li><a href="#events">Events</a></li>
                      <li><a href="#projects">Projects</a></li>
                      <li><a href="#contact">Contact</a></li>
                  </ul>
                </div>
              </div>
            </nav>
        </div>

        <!-- Content -->
        <img src="http://illinoistriangle.com/img/composite.jpg" class="responsive-img"/>
        <section id="develop" class="section scrollspy container">
            <h1>Welcome to Development HomePage</h1>
            <p>Links to controllers and others</p>
            <ul>
                <li><%= link_to "Brother Directory", brothers_path %></li>
                <li><%= link_to "DJ Assignments", chores_path %></li>
            </ul>
        </section>

        <section id="members" class="section scrollspy container">
            <p>Members</p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </section>

        <section id="events" class="section scrollspy container">
            <p>Introduction</p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </section>

        <section id="projects" class="section scrollspy container">
            <p>Projects</p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
         </section>

        <section id="contact" class="section scrollspy container">
            <p>Contact Information</p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </section>
    </body>
</main>
<!-- Footer -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
