<head>
    <title>Triangle Fraternity</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

</head>
<body>
    <!-- Navbar -->
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Triangle Fraternity</a>
      </div>
    </nav>

    <!-- Content -->
    <div class="container">
        <!-- Display info from each brother -->
        <h2>Daily Jobs</h2>

        <table class="striped">
          <thead>
            <tr>
                <th data-field="id">Brother Initials</th>
                <th data-field="name">Chore Assignment</th>
            </tr>
          </thead>

          <tbody>
              <% @brothers.each do |bro| %>
              <tr>
                  <td><%= bro.initials %></td>
                  <td> <% bro.chore_assignments.each do |ca| %>
                       <%= ca.chore_id %>
                       <% end %>
                   </td>
              </tr>
              <% end %>
          </tbody>
        </table>
    </div>
</body>
