<!-- Content -->
<div class="container">
    <h2>Daily Jobs: New Chore</h2>
    <%= form_for(@chore) do |chore| %>
    <%= chore.text_field :name, placeholder: 'Name' %>
    <%= chore.text_area :description, placeholder: 'Description', class: 'materialize-textarea' %>
    <%= chore.submit "Create New Chore", class: 'waves-effect waves-light btn' %>
    <% end %>
</div>
